@{
    Layout = "~/Views/GoC.WebTemplate/GoCWebTemplate_Layout.cshtml";
}

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <h1>Regulatory Content APIs</h1>

            <table class="wb-tables table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Request Type:</th>
                        <th colspan="3">Format:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Basis Decision:</td>
                        <td><a class="btn btn-default" href="http://api.hres.ca/regcontent/api/basisdecision/?lang=en&type=json">Json</a></td>
                        <td><a class="btn btn-default" href="http://api.hres.ca/regcontent/api/basisdecision/?lang=en&type=xml">XML</a></td>
                        <td><a class="btn btn-default" href="http://api.hres.ca/regcontent/api/CSV/DownloadCSV?dataType=basisDecision&lang=en">CSV (Download)</a></td>
                    </tr>
                    <tr>
                        <td>Basis Decision Medical Devices:</td>
                        <td><a class="btn btn-default" href="http://api.hres.ca/regcontent/api/basisdecisionMedicalDevice/?lang=en&type=json">Json</a></td>
                        <td><a class="btn btn-default" href="http://api.hres.ca/regcontent/api/basisdecisionMedicalDevice/?lang=en&type=xml">XML</a></td>
                        <td><a class="btn btn-default" href="http://api.hres.ca/regcontent/api/CSV/DownloadCSV?dataType=basisDecisionMedical&lang=en">CSV (Download)</a></td>
                    </tr>
                    <tr>
                        <td>Safety Review:</td>
                        <td><a class="btn btn-default" href="http://api.hres.ca/regcontent/api/safetyreview/?lang=en&type=json">Json</a></td>
                        <td><a class="btn btn-default" href="http://api.hres.ca/regcontent/api/safetyreview/?lang=en&type=xml">XML</a></td>
                        <td><a class="btn btn-default" href="http://api.hres.ca/regcontent/api/CSV/DownloadCSV?dataType=safetyReview&lang=en">CSV (Download)</a></td>
                    </tr>
                    <tr>
                        <td>Regulatory Decision:</td>
                        <td><a class="btn btn-default" href="http://api.hres.ca/regcontent/api/regulatorydecision/?lang=en&type=json">Json</a></td>
                        <td><a class="btn btn-default" href="http://api.hres.ca/regcontent/api/regulatorydecision/?lang=en&type=xml">XML</a></td>
                        <td><a class="btn btn-default" href="http://api.hres.ca/regcontent/api/CSV/DownloadCSV?dataType=regDecision&lang=en">CSV (Download)</a></td>
                    </tr>
                    <tr>
                        <td>Regulatory Decision Medical Devices:</td>
                        <td><a class="btn btn-default" href="http://api.hres.ca/regcontent/api/regulatoryDecisionMedicalDevice/?lang=en&type=json">Json</a></td>
                        <td><a class="btn btn-default" href="http://api.hres.ca/regcontent/api/regulatoryDecisionMedicalDevice/?lang=en&type=xml">XML</a></td>
                        <td><a class="btn btn-default" href="http://api.hres.ca/regcontent/api/CSV/DownloadCSV?dataType=regDecisionMedical&lang=en">CSV (Download)</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>